/deploy
/dist


/node_modules

**/src/assets
/.angular/cache


README.md
.gitlab-ci.yml
.prettierrs.json
angular.json
karma.conf.js
package-lock.json
package.json
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
src/index.html
src/main.ts
src/polyfills.ts
