@use "@angular/material" as mat;
@include mat.core();

$online-school-sandbox-primary: mat.define-palette(mat.$indigo-palette);
$online-school-sandbox-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$online-school-sandbox-warn: mat.define-palette(mat.$red-palette);

$online-school-sandbox-theme: mat.define-light-theme(
  (
    color: (
      primary: $online-school-sandbox-primary,
      accent: $online-school-sandbox-accent,
      warn: $online-school-sandbox-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($online-school-sandbox-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
